include ../../../shared/components/Icons/trash.pug
include ../../../shared/components/Data/Data.pug
include ../../../shared/components/GenderSelection/GenderSelection.pug

div.profile
  div.profile-card
    if isEditing
      h1 Редактирование профиля
      .settings-form
        label
          | Имя:
          input(type="text" class='input' id="first_name" maxlength="50" value=first_name required)
        label
          | Фамилия:
          input(type="text" class='input' id="last_name" maxlength="50" value=last_name required)
        +genderSelection(gender)
        label
          +data(birth_date)
        label
          | Цель:
          input(type="string" id="target" value=target maxlength="300")
        label
          | О себе:
          textarea(id="about" rows="1" maxlength="600")= about

      // Новый раздел для смены пароля
      .password-change-section
        h2 Смена пароля
        label
          | Старый пароль:
          input(type="password" class='input' id="OldPassword" required)
          p.error#old-password-error(style='display:none') Неправильный старый пароль.
        label
          | Новый пароль:
          input(type="password" class='input' id="NewPassword" required)
          p.error#new-password-error(style='display:none') Новый пароль не удовлетворяет условиям.
        label
          | Повторите новый пароль:
          input(type="password" class='input' id="RepeatNewPassword" required)
          p.error#repeat-password-error(style='display:none') Новый пароль и его повторение не совпадают.
        div.button-wrapper
          button.new-password Сменить пароль

      div 
        h3 Фотографии
        .image-section-profile
          if imagesURLs && imagesURLs.length > 0
            each image, index in imagesURLs
              .image-container(
                draggable="true"
                data-index=index
              )
                img(src=image, alt="Фотография в профиле")
                .delete-button
                  +trash
          else
            p Пока нет фотографий
          div.upload
            button.upload-button Добавить фото +
      div.button-wrapper
        button.save-settings Сохранить
        button.cancel-settings Отмена
    else 
      h1 Профиль
      div.info
        div.info-avatar
          div.info-avatar__wrapper
            if !imagesURLs || imagesURLs.length === 0 
              img(src="./img/user.svg").info-avatar__image
            else 
              img(src=imagesURLs[0]).info-avatar__image
          | #{username}
        .info-section
          p Имя: #{first_name}
          p Фамилия: #{last_name}
          p Пол: #{gender === 'male' ? 'Мужской' : 'Женский'}
          p Дата рождения: #{birth_date}
          p Цель: #{target}
          p О себе: #{about}
      div
        h3 Фотографии
        .image-section-profile
          if imagesURLs && imagesURLs.length > 0
            each image in imagesURLs
              .image-container
                img(src=image, alt="Фотография в профиле")
          else
            p Пока нет фотографий
      div.button-wrapper
        button.settings-button Настройки