body
  #surveyModal.modal(style="display: none;") 
    .modal-content
      button#closeModalButton.close &times; 

      #step1.step
        h2 Оцените сайт
        .rating-buttons
          each rating in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            button.rating-button(data-value=rating) #{rating}
        button#nextStep1Button Далее

      #step2.step(style="display: none;")
        h3 Нравятся ли вам свайпы?
        .rating-buttons
          each rating in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            button.rating-button(data-value=rating) #{rating}
        button#nextStep2Button Далее
        button#backButton2 Назад

      #step3.step(style="display: none;")
        h3 Нравятся ли вам фотографии?
        .rating-buttons
          each rating in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            button.rating-button(data-value=rating) #{rating}
        button#nextStep3Button Далее 
        button#backButton3 Назад

      #step4.step(style="display: none;")
        h3 Удобные ли чаты?
        .rating-buttons
          each rating in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            button.rating-button(data-value=rating) #{rating}
        button#nextStep4Button Далее 
        button#backButton4 Назад

      #step5.step(style="display: none;")
        h3 Удобно ли настраивать профиль?
        .rating-buttons
          each rating in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            button.rating-button(data-value=rating) #{rating}
        button#submitFeedbackButton Отправить отзыв
        button#backButton5 Назад

  #thankYouMessage(style="display: none;")
    h3 Спасибо за прохождение опроса!