include ../../shared/components/Carousel/Carousel.pug

mixin card(user)
  .tinder__card
    .image-section
      if (user.images != null && user.images.length > 0)
        +carousel(user.images)
      else
        img(class="img image-section__img_static" src="./img/image.svg" alt="Image" draggable="false")
    .form-section
      if (user.profile.first_name == "-" || user.profile.first_name == null)
        h1 !{user.username}
      else 
        h1 !{user.profile.first_name}
      if (user.profile.gender == "male")
        h3 Пол: мужской
      else
        h3 Пол: женский
      h3 Возраст: !{user.profile.age}
      if (user.profile.target != "-" && user.profile.target != null)
        h3 Цель знакомства: !{user.profile.target}
      if (user.profile.about != "-" && user.profile.about != null)
        h3 О себе: !{user.profile.about}