include ../../shared/components/Carousel/Carousel.pug

mixin getAgeSuffix(age)
  - const lastDigit = age % 10;
  - const lastTwoDigits = age % 100;
  - let suffix = 'лет';
  - if (lastTwoDigits >= 11 && lastTwoDigits <= 19) {
    - suffix = 'лет';
  - } else {
    - switch (lastDigit) {
      - case 1:
        - suffix = 'год';
        - break;
      - case 2:
      - case 3:
      - case 4:
        - suffix = 'года';
        - break;
      - default:
        - suffix = 'лет';
    - }
  - }
  = suffix

mixin card(user)
  .tinder__card
    .image-section
      if (user.images != null && user.images.length > 0)
        +carousel(user.images)
      else
        img(class="img image-section__img_static" src="/img/image.svg" alt="Image" draggable="false")
    .form-section
      .card-header
        if (user.profile.first_name == null || user.profile.first_name == '-')
          h1 !{user.username}
        else 
          h1 !{user.profile.first_name}
        button.report
          img(src="/img/ban-icon.svg" alt="Пожаловаться" class="report-icon")
      if (user.profile.gender == "male")
        h3 Пол: мужской
      else
        h3 Пол: женский
      h3 Возраст: !{user.profile.age} !{getAgeSuffix(user.profile.age)}
      if (user.profile.target != "-" && user.profile.target != null)
        h3 Цель знакомства: !{user.profile.target}
      if (user.profile.about != "-" && user.profile.about != null)
        h3 О себе: !{user.profile.about}
  include ../Report/report.pug