.shop-container
    h1 Магазин
    button.topup-button() Пополнить счет
    .product-list
        each product in products
            .product-card
                img(src='@/img/Heart.svg', alt=product.name)
                h2= product.name
                p.description #{product.description} 
                p.price Цена: #{product.price}₽
                button.buy-button(data-product-name=product.name, data-product-price=product.price) Купить

// Здесь будет подключение к файлу topup.pug
include topup.pug