mixin card(user)
  .tinder__card
    .image-section
      if (user.images != null && user.images.length > 0)
        .carousel
          each image, index in user.images
            img(class="img image-section__img" src=`http://5.188.140.7/${image.link.substring(image.link.lastIndexOf('/') + 1)}` alt="Image #{index + 1}" draggable="false")
        if (user.images.length > 1)
          button.button_light.carousel__button.carousel__button_left
            img(class="img button_img__img" src="./img/left.svg" alt="X")
          button.button_light.carousel__button.carousel__button_right
            img(class="img button_img__img" src="./img/right.svg" alt="X")
      else
        img(class="img image-section__img" src="./img/image.svg" alt="Image" draggable="false")
    .form-section
      if (user.profile.first_name == "-" || user.profile.first_name == null)
        h1 !{user.username}
      else 
        h1 !{user.profile.first_name}
      if (user.profile.gender == "male")
        h3 Пол: мужской
      else
        h3 Пол: женский
      h3 Возраст: !{user.profile.age}
      if (user.profile.target != "-" && user.profile.target != null)
        h3 Цель знакомства: !{user.profile.target}
      if (user.profile.about != "-" && user.profile.about != null)
        h3 О себе: !{user.profile.about}