mixin card(user)
  .tinder__card
    .image-section
      if (user.images != null)
        img(class="img image-section__img" src=`http://5.188.140.7/${user.images[0].link.substring(user.images[0].link.lastIndexOf('/') + 1)}` alt="Image" draggable="false")
      else
        img(class="img image-section__img" src="./img/image.svg" alt="Image" draggable="false")
    .form-section
      if (user.profile.first_name != "-")
        h1 !{user.profile.first_name}
      else 
        h1 !{user.username}
      if (user.profile.gender == "male")
        text-base Пол: мужской
      else
        text-base Пол: женский
      text-base Возраст: !{user.profile.age}
      if (user.profile.target != "-")
        text-base Цель знакомства: !{user.profile.target}
      if (user.profile.about != "-")
        text-base О себе: !{user.profile.about}